table{
	width: 20%;
	height: 100%;
	margin: 100px auto 100px auto;
	padding: 5px;
}

	
h2{
	margin: 100px auto auto auto;
	font-size: 35px;
}

body{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background-color: #e4dccd;
}

